{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="auth-wrapper">

    <div class="auth-card">
        <h2>Create Account</h2>
        <p class="auth-sub">Join and start taking quizzes</p>

        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="input-group">
                {{ form.username.label }}
                {{ form.username(class="input-field") }}
            </div>

            <div class="input-group">
                {{ form.email.label }}
                {{ form.email(class="input-field") }}
            </div>

            <div class="input-group">
                {{ form.password.label }}
                {{ form.password(class="input-field") }}
            </div>

            {{ form.submit(class="auth-btn") }}
        </form>

        <p class="auth-link">
            Already have an account?
            <a href="{{ url_for('login') }}">Login</a>
        </p>
    </div>

</div>
{% endblock %}